<div class="searchbar-container">
  <app-search-bar></app-search-bar>
</div>
<div class="gray-container">
  <h1 class="title">Mis Favoritas</h1>
  <div class="results-container">
    <div class="result" *ngFor="let movie of movies" fxLayout.lt-sm="column">
      <a [href]="'/movie/' + movie.id">
        <img
          class="movie-image"
          [src]="'https://image.tmdb.org/t/p/w500//' + movie.backdrop_path"
          [alt]="'image of ' + movie.title + ' not found.'"
        />
      </a>

      <div class="texts-container">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <span>{{ movie.release_date }}</span>
        <div (click)="deleteMovie(movie.id)" class="delete-movie-container">
          <img src="assets/icons/heart.png" class="heart-icon" />
          <span>Eliminar de favoritas</span>
        </div>
      </div>
    </div>
  </div>
</div>
